.link {
    font-family: "Arial";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  
    color: #873ba0;
  }